# Gradle
.gradle
build

# Do not check in the wrapper
**/gradle/wrapper
gradlew
gradlew.bat

# IDEA
.idea
*.iml
out

# VS Code
.vscode

# Platform-specific
# MacOS
.DS_Store

# Custom development files
/dev

/gradle/dist
